{% extends 'frontend/layout.html.twig' %}

{% block content %}
    {% for section in sections %}
        <div class="ui vertical padded segment">
            <div class="ui container">
                {% if section.headerContent is not empty %}
                    {{ section.headerContent|raw }}
                {% endif %}
                <div class="ui stackable grid">
                    {% for column in columns if column.sectionId == section.sectionId %}
                        <div class="{{ column.columnWidth }} wide column">
                            {% for block in blocks if block.columnId == column.columnId %}
                                <div class="{% if block.blockStyle == "card" %}ui segment{% endif %} block"
                                     {% if block.blockStyle == "card" %}style="overflow: hidden"{% endif %}>
                                    {# Getting block content #}
                                    {% if block.contentType == "2" %}
                                        {% include 'blocks/imageBlock.html.twig' %}
                                    {% endif %}

                                    {% if block.contentType == "3" %}
                                        {% include 'blocks/textimageBlock.html.twig' %}
                                    {% endif %}

                                    {% if block.contentType == "4" %}
                                        {% include 'blocks/htmlBlock.html.twig' %}
                                    {% endif %}

                                    {% if block.contentType == "5" %}
                                        {% include 'blocks/formBlock.html.twig' %}
                                    {% endif %}

                                    {% if block.contentType == "6" %}
                                        {% include 'blocks/planningBlock.html.twig' %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block title %}
    {{ page.name }} {{ parent() }}
{% endblock %}