{% extends 'frontend/layout.html.twig' %}

{% block content %}
    <p>Institut de formation d'enseignants en danse de société - Accueil</p>
    {% endblock %}

    {% block title %}
    Home {{ parent() }}
{% endblock %}