<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{% block title %} - I-F-D-S{% endblock %}</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <link rel="stylesheet" href="assets/semantic-datepicker/calendar.css">

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" type="text/css" href="assets/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="assets/slick/slick-theme.css"/>

    <link rel="stylesheet" href="assets/style/style_frontend.css">

    {% if page.paramHugeHeader == 1 %}
        <link rel="stylesheet" href="assets/style/style_frontend_masthead.css">
    {% endif %}
</head>

<body>
{% block body %}
    <!-- Following Menu -->
    <div class="ui large top fixed hidden menu">
        <div class="ui container">
            <div class="ui item">
                I-F-D-S
            </div>
            {% for pageList in listePages %}
                <a href="index.php?page={{ pageList.pageLinkName }}" class="
                    {% if pageList.pageId == page.pageId %}
                    active
                    {% endif %}
                    item">
                    {{ pageList.name }}
                </a>
            {% endfor %}
            {% if session is not empty %}
                <div class="right menu">
                    <a class="item" href="index.php?page=admin_home">
                        Administration
                    </a>
                    <a class="item" href="index.php?disconnect=true">
                        Se déconnecter
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
        <div class="ui item">
            I-F-D-S
        </div>
        {% for pageList in listePages %}
            <a href="index.php?page={{ pageList.pageLinkName }}" class="
                    {% if pageList.pageId == page.pageId %}
                    active
                    {% endif %}
                    item">
                {{ pageList.name }}
            </a>
        {% endfor %}
        {% if session is not empty %}
            <div class="item">
                <div class="header">Administration</div>
                <div class="menu">
                    <a class="item" href="index.php?page=admin_home">
                        Panel administrateur
                    </a>
                    <a class="item" href="index.php?disconnect=true">
                        Se déconnecter
                    </a>
                </div>
            </div>
        {% endif %}
    </div>


    <!-- Page Contents -->
    <div class="pusher">
        <!-- Full width header -->
        <div id="headerContent">
            <div class="ui inverted vertical masthead center aligned segment textShadow" id="masthead"
                 {#{% if page.paramHugeHeader == 1 %}style="background: url('https://placekitten.com/g/1920/1080') no-repeat center center fixed"{% endif %}#}>
                <!-- Fixed header -->
                <div class="ui container">
                    <div class="ui large secondary inverted pointing menu">
                        <a class="toc item">
                            <i class="sidebar icon"></i>
                        </a>
                        <div class="ui item">
                            I-F-D-S
                        </div>
                        {% for link in primaryTopmenu %}
                            {% if link.pageId is not empty %}
                                {% for pageList in listePages %}
                                    {% if pageList.pageId == link.pageId %}
                                        <a href="index.php?page={{ pageList.pageLinkName }}" class="
                                        {% if pageList.pageId == page.pageId %}
                                        active
                                        {% endif %}
                                        item">
                                            {% if link.name is empty %}{{ pageList.name }}
                                            {% else %}{{ link.text }}
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            {% elseif link.link is not empty %}
                                <a href="{{ link.link }}" class="item">
                                    {{ link.text }}
                                </a>
                            {% elseif link.pageId is empty and link.link is empty %}
                                <div class="ui dropdown link item">
                                    <span class="text">{{ link.text }}</span>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        {% for subLink in secondaryTopmenu %}
                                            {% for pageList in listePages %}
                                                {% if pageList.pageId == subLink.pageId %}
                                                    <a href="index.php?page={{ pageList.pageLinkName }}" class="item">
                                                        {% if subLink.name is empty %}{{ pageList.name }}
                                                        {% else %}{{ subLink.text }}
                                                        {% endif %}
                                                    </a>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% if session is not empty %}
                            <div class="right menu">
                                <a class="item" href="index.php?page=admin_home">
                                    Administration
                                </a>
                                <a class="item" href="index.php?disconnect=true">
                                    Se déconnecter
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>

                {% if page.paramHugeHeader == 1 %}
                    <div class="ui text container">
                        <h1 class="ui inverted header">
                            {{ page.headerTitleText }}
                        </h1>
                        <h2>{{ page.headerCaptionText }}</h2>
                        {% if page.headerButtonText is not empty %}
                            <div class="ui huge primary button textShadow">{{ page.headerButtonText }} <i
                                        class="right arrow icon"></i>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>



        <div class="pageContent">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.js" defer></script>
    <script src="assets/semantic-datepicker/calendar.js"></script>
    <script type="text/javascript" src="assets/slick/slick.js"></script>
    <script type="text/javascript" src="assets/script/jquery.backstretch.min.js"></script>
    {% if page.paramHugeHeader == 1 %}
    <script>$("#masthead").backstretch([
            { url: "https://placekitten.com/g/1920/1080", transition: 'fade' },
            { url: "https://placekitten.com/g/1920/1081", transition: 'fade' },
            { url: "https://placekitten.com/g/1920/1082", transition: 'fade' },
            { url: "https://placekitten.com/g/1920/1082", transition: 'fade' },
            { url: "https://placekitten.com/g/1920/1083", transition: 'fade' },
            { url: "https://placekitten.com/g/1920/1084", transition: 'fade' }],
            {duration: 3000, fade: 750, fadeFirst: true}
            );

    </script>
    {% endif %}
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="assets/script/script_frontend.js"></script>
{% endblock %}
</body>
</html>