body {
    background-color: #DADADA;
}

body > .grid {
    height: 100%;
}

.image {
    margin-top: -100px;
}

.column {
    max-width: 450px;
}

.ui.header > .image:not(.icon), .ui.header > img {
    width: 12em !important;
}