.pageContent {
    padding-top: 55px;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-bottom: 1em;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a.mouseSetPointer {
    cursor: pointer;
}