{% extends 'admin/layout.html.twig' %}

{% block content %}
    <p>Bienvenue sur l'interface d'administration IFDS</p>
    <div>Identifiant de compte : {{ session.userid }}</div>
    <button href="filemanager/dialog.php?type=0&lang=FR_fr"
            class="ui button iframe-button" style="margin-top: 1em">Ouvrir le gestionnaire de fichiers
    </button>
{% endblock %}

{% block title %}
    Accueil {{ parent() }}
{% endblock %}