<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{% block title %} - IFDS Admin{% endblock %}</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="assets/fancybox/jquery.fancybox.css" media="screen" />
    <link rel="stylesheet" href="assets/style/style_admin.css">
</head>

<body>
{% block body %}
    <div class="ui inverted fixed menu">
        <div class="header item">
            IFDS - Admin panel
        </div>
        <a class="item" href="index.php?page=admin_home">
            Accueil
        </a>
        <a class="item" href="index.php?page=admin_pages_list">
            Pages
        </a>
        <a class="item" href="index.php?page=admin_menu_edit">
            Menu
        </a>
        <a class="item" href="index.php?page=admin_prospects_list">
            Prospects
        </a>
        <a class="item" href="index.php?page=admin_planning">
            Planning
        </a>
        <a class="item" href="index.php?page=admin_settings">
            Paramètres
        </a>
        <div class="right menu">
            <div class="ui item">
                Connecté en tant que : {{ session.email }}
            </div>
            <a class="item" href="index.php">
                Retour au site
            </a>
            <a class="item" href="index.php?disconnect=true">
                Se déconnecter
            </a>
        </div>
    </div>
    <div class="pageContent">
        {% if successes is not empty %}
            <div class="ui positive message">
                <i class="close icon"></i>
                <div class="header">
                    Action effectuée
                </div>
                <ul class="list">
                    {% for message in successes %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if warnings is not empty %}
            <div class="ui warning message">
                <i class="close icon"></i>
                <div class="header">
                    Erreur(s) dans la saisie
                </div>
                <ul class="list">
                    {% for message in warnings %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if errors is not empty %}
            <div class="ui negative message">
                <i class="close icon"></i>
                <div class="header">
                    Erreur(s)
                </div>
                <ul class="list">
                    {% for message in errors %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.js" defer></script>
    <script src="assets/semantic-datepicker/calendar.js"></script>
    <script src="assets/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="assets/fancybox/jquery.fancybox.js"></script>
    <script src="assets/script/script_admin.js"></script>
{% endblock %}
</body>
</html>