{% extends 'admin/layout.html.twig' %}

{% block content %}
    <div class="ui container">
        <div class="ui large secondary pointing menu">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>
            <div class="ui item">
                I-F-D-S
            </div>
            {% for link in primaryTopmenu %}
                {% if link.pageId is not empty %}
                    {% for pageList in pages %}
                        {% if pageList.pageId == link.pageId %}
                            <a href="index.php?page={{ pageList.pageLinkName }}" class="
                                        {% if pageList.pageId == page.pageId %}
                                        active
                                        {% endif %}
                                        item">
                                {% if link.name is empty %}{{ pageList.name }}
                                {% else %}{{ link.text }}
                                {% endif %}
                            </a>
                        {% endif %}
                    {% endfor %}
                {% elseif link.link is not empty %}
                    <a href="{{ link.link }}" class="item">
                        {{ link.text }}
                    </a>
                {% elseif link.pageId is empty and link.link is empty %}
                    <div class="ui dropdown link item">
                        <span class="text">{{ link.text }}</span>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {% for subLink in secondaryTopmenu %}
                                {% for pageList in pages %}
                                    {% if pageList.pageId == subLink.pageId %}
                                        <a href="index.php?page={{ pageList.pageLinkName }}" class="item">
                                            {% if subLink.name is empty %}{{ pageList.name }}
                                            {% else %}{{ subLink.text }}
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            {% if session is not empty %}
                <div class="right menu">
                    <a class="item" href="index.php?page=admin_home">Administration</a>
                    <a class="item" href="index.php?disconnect=true">Se déconnecter</a>
                </div>
            {% endif %}
        </div>
    </div>

    <h3>Liste des pages :</h3>
    {% if primaryTopmenu is not empty %}
        <table class="ui table">
            <thead>
            <tr>
                <th>Identifiant</th>
                <th>Texte</th>
                <th>Lien</th>
                <th>Position</th>
                <th>Dans un sous-menu</th>
                <th>(Si dans sous-menu) lien parent</th>
                <th>Identifiant de la page liée</th>
            </tr>
            </thead>
            <tbody>

            {% for link in primaryTopmenu %}
                <tr>
                    <td>{{ link.linkId }}</td>
                    <td>{{ link.text }}</td>
                    <td>{{ link.link }}</td>
                    <td>{{ link.menuOrder }}</td>
                    <td>{{ link.isPrimary }}</td>
                    <td>{{ link.parent }}</td>
                    <td>{{ link.pageId }}</td>
                </tr>
            {% endfor %}
            {% for link in secondaryTopmenu %}
                <tr>
                    <td>{{ link.linkId }}</td>
                    <td>{{ link.text }}</td>
                    <td>{{ link.link }}</td>
                    <td>{{ link.menuOrder }}</td>
                    <td>{{ link.isPrimary }}</td>
                    <td>{{ link.parent }}</td>
                    <td>{{ link.pageId }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Il n'y a pas de pages.</p>
    {% endif %}

    <h3>Liste des pages :</h3>
    {% if pages is not empty %}
        <table class="ui table">
            <thead>
            <tr>
                <th>Identifiant</th>
                <th>Nom de page</th>
                <th>Nom d'URL</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            {% for page in pages %}
                <tr>
                    <td>{{ page.pageId }}</td>
                    <td>{{ page.name }}</td>
                    <td>{{ page.pageLinkName }}</td>
                    <td class="selectable">
                        <a class="mouseSetPointer menuPageAdd" data-custom-value="{{ page.pageId }};{{ page.name }}">Ajouter</a>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Il n'y a pas de pages.</p>
    {% endif %}


{% endblock %}

{% block title %}
    Edition du menu {{ parent() }}
{% endblock %}