{% extends 'admin/layout.html.twig' %}

{% block content %}

    <div class="ui segment">
        <form method="post" action="index.php?page=admin_pages_info&pagelink={{ page.pageLinkName }}" class="ui form">
            <div class="field">
                <label>Nom</label>
                <input name="name" placeholder="Nom" type="text"
                       value="{{ page.name }}">
            </div>

            <div class="field">
                <label>Nom d'URL</label>
                <input name="pageLinkName" placeholder="Nom d'URL" type="text"
                       value="{{ page.pageLinkName }}">
            </div>

            <div class="inline field">
                <div class="ui toggle checkbox hugeHeaderCb">
                    <input tabindex="0"
                            {% if page.paramHugeHeader == 1 %}
                                checked
                            {% endif %}
                           name="paramHugeHeader" class="hidden" type="checkbox">
                    <label>En-tête avec images</label>
                </div>
            </div>

            <div class="field" id="hugeHeaderParams">
                <div class="field">
                    <label>Texte du titre</label>
                    <input name="headerTitleText" placeholder="Texte du titre" type="text"
                           value="{{ page.headerTitleText }}">
                </div>

                <div class="field">
                    <label>Texte du sous-titre</label>
                    <input name="headerCaptionText" placeholder="Texte du sous-titre" type="text"
                           value="{{ page.headerCaptionText }}">
                </div>

                <div class="field">
                    <label>Texte du bouton</label>
                    <input name="headerButtonText" placeholder="Texte du bouton" type="text"
                           value="{{ page.headerButtonText }}">
                </div>
            </div>

            <div class="field">
                <button type="submit" name="pageEditBt" class="ui positive submit button">Modifier</button>
            </div>
        </form>
    </div>

    <table class="ui celled table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Nombre de sections</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ page.name }}</td>
            {% set partnb = 0 %}
            {% for part in sections %}
                {% set partnb = partnb + 1 %}
            {% endfor %}
            <td>{{ partnb }}</td>
        </tr>
        </tbody>
        <tfoot class="full-width">
        <tr>
            <th></th>
            <th>
                <form method="post" action="index.php?page=admin_pages_info&pagelink={{ page.pageLinkName }}">
                    <button class="ui right floated small primary labeled icon submit button" name="addSectionBt">
                        <i class="add icon"></i> Ajouter une section
                    </button>
                </form>
                <form method="post" action="index.php?page=admin_pages_list&pagelink={{ page.pageLinkName }}">
                    <input type="hidden" name="deletePageId" value="{{ page.pageId }}">
                    <button class="ui right floated small negative labeled icon submit button" name="deletePageBt">
                        <i class="remove icon"></i> Supprimer la page
                    </button>
                </form>
            </th>
        </tr>
        </tfoot>
    </table>

    {% for section in sections %}
        <h4 class="ui top attached block header">
            Section n°{{ section.pageOrder }} - Identifiant : {{ section.sectionId }}
        </h4>

        <div class="ui two attached buttons">
            <a href="index.php?type=section&page=admin_structure_edit&sectionId={{ section.sectionId }}"
               class="ui small labeled fluid icon button">
                <i class="edit icon"></i> Modifier la section
            </a>
            <form class="ui form" method="post"
                  action="index.php?page=admin_pages_info&pagelink={{ page.pageLinkName }}">
                <input type="hidden" name="sectionId" value="{{ section.sectionId }}">
                <button class="ui small positive labeled fluid icon button" name="addColumnBt">
                    <i class="add icon"></i> Ajouter une colonne
                </button>
            </form>
        </div>

        {% set columnCount = 0 %}
        {% for column in columns if column.sectionId == section.sectionId %}
            {% set columnCount = columnCount + 1 %}
        {% endfor %}
        <div class="ui attached segment">
            <div class="ui
                    {% if columnCount <= 4 %}
                    four column
                    {% else %}
                    equal width
                    {% endif %}
             grid">
                {% for column in columns if column.sectionId == section.sectionId %}

                    <div class="column">
                        <h5 class="ui top attached block header">Colonne de placement {{ column.sectionOrder }},
                            id {{ column.columnId }} </h5>
                        <div class="ui two attached buttons">
                            <a href="index.php?type=column&page=admin_structure_edit&columnId={{ column.columnId }}"
                               class="ui small labeled fluid icon button editColumn">
                                <i class="edit icon"></i> Modifier la colonne
                            </a>
                            <form class="ui form" method="post"
                                  action="index.php?page=admin_pages_info&pagelink={{ page.pageLinkName }}">
                                <input type="hidden" name="columnId" value="{{ column.columnId }}">
                                <button class="ui small positive labeled fluid icon button" name="addBlockBt">
                                    <i class="add icon"></i> Ajouter un bloc
                                </button>
                            </form>
                        </div>
                        <div class="ui attached segment">
                            {% for block in blocks if block.columnId == column.columnId %}
                                {# Getting block content #}
                                <h5 class="ui top attached block header">Bloc de placement {{ block.columnOrder }}
                                    id {{ block.blockId }}</h5>
                                <a href="index.php?type=block&page=admin_structure_edit&blockId={{ block.blockId }}"
                                   class="ui small attached labeled fluid icon button">
                                    <i class="edit icon"></i> Modifier le bloc
                                </a>
                                <div class="ui attached segment">
                                    {% if block.contentType == 2 %}
                                        <p>Contenu : image</p>
                                        <p>Titre : {{ block.imageTitle }}</p>
                                        <p>Image : <img class="ui small image" src="{{ block.imageSource }}"></p>
                                    {% endif %}

                                    {% if block.contentType == 3 %}
                                        <p>Contenu : texte et image</p>
                                        <p>Titre : {{ block.textimageTitle }}</p>
                                        <div style="max-height: 8em;overflow-y: scroll">
                                            <p>Texte : {{ block.textimageTextContent }}</p>
                                        </div>
                                        <p>Image : <img class="ui small image"
                                                        src="{{ block.textimageImgSource }}"></p>
                                    {% endif %}

                                    {% if block.contentType == 4 %}
                                        <p>Contenu : html</p>
                                        <p>Titre : {{ block.htmlTitle }}</p>
                                        <div style="max-height: 8em;overflow-y: scroll">
                                            <p>Contenu : {{ block.htmlContent|nl2br }}</p>
                                        </div>
                                    {% endif %}

                                    {% if block.contentType == 5 %}
                                        <p>Contenu : formulaire</p>
                                    {% endif %}

                                    {% if block.contentType == 6 %}
                                        <p>Contenu : planning</p>
                                    {% endif %}

                                    {% if block.contentType is empty %}
                                        <p>Aucun contenu dans ce bloc</p>
                                    {% endif %}
                                </div>
                                <form class="ui form" method="post"
                                      action="index.php?page=admin_pages_info&pagelink={{ page.pageLinkName }}">
                                    <input type="hidden" name="blockId" value="{{ block.blockId }}">
                                    <button class="ui small bottom attached labeled fluid icon button"
                                            name="removeBlockBt">
                                        <i class="remove icon"></i> Supprimer le bloc
                                    </button>
                                </form>
                            {% endfor %}
                        </div>

                        <form class="ui form" method="post"
                              action="index.php?page=admin_pages_info&pagelink={{ page.pageLinkName }}">
                            <input type="hidden" name="columnId" value="{{ column.columnId }}">
                            <button class="ui small bottom attached labeled fluid icon button"
                                    name="removeColumnBt">
                                <i class="remove icon"></i> Supprimer la colonne
                            </button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>

        <form class="ui form" method="post"
              action="index.php?page=admin_pages_info&pagelink={{ page.pageLinkName }}">
            <input type="hidden" name="sectionId" value="{{ section.sectionId }}">
            <button class="ui small bottom attached labeled fluid icon button"
                    name="removeSectionBt">
                <i class="remove icon"></i> Supprimer la section
            </button>
        </form>
    {% endfor %}

{% endblock %}

{% block title %}
    {{ page.name }} - Informations sur la page {{ parent() }}
{% endblock %}