{% extends 'admin/layout.html.twig' %}

{% block content %}
    <form method="post" action="index.php?page=admin_pages_list" class="ui form">
        <h3>Ajouter une page :</h3>

        <div class="six wide field">
            <label>Nom de la page</label>
            <input class="ui input" name="pageName" placeholder="Nom de la page" type="text">
        </div>
        <div class="six wide field">
            <label>Nom d'URL (utilisé dans le lien amenant vers cette page)</label>
            <input class="ui input" name="pageLinkName" placeholder="Nom d'URL" type="text">
        </div>
        <button class="ui submit button">Submit</button>
    </form>

    <h3>Liste des pages :</h3>
    {% if pages is not empty %}
        <table class="ui table">
            <thead>
            <tr>
                <th>Identifiant</th>
                <th>Nom de page</th>
                <th>Nom d'URL</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            {% for page in pages %}
                <tr>
                    <td>{{ page.pageId }}</td>
                    <td>
                        {{ page.name }}
                    </td>
                    <td>{{ page.pageLinkName }}</td>
                    <td class="selectable">
                        <a href="index.php?page=admin_pages_info&pagelink={{ page.pageLinkName }}">Modifier</a>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Il n'y a pas de pages.</p>
    {% endif %}


{% endblock %}

{% block title %}
    Liste des pages {{ parent() }}
{% endblock %}