{% extends 'admin/layout.html.twig' %}

{% block content %}
    {{ dump(event) }}

    <h2 class="ui header">Modifier l'entrée : {{ event.pDateId }}</h2>
    <div class="ui segment">
        <form method="post" action="index.php?page=admin_planning_edit&eventId={{ event.pDateId }}" class="ui form">
            <div class="two fields">
                <div class="field">
                    <label>Date de début</label>
                    <div class="ui calendar" id="startDatepicker">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input name="startDate" type="text" placeholder="Date de début" value="{{ event.startDate|date("d-m-Y") }}">
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Date de fin</label>
                    <div class="ui calendar" id="endDatepicker">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input name="endDate" type="text" placeholder="Date de fin" value="{{ event.endDate|date("d-m-Y") }}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Lien</label>
                <input name="link" placeholder="Lien" type="text" value="{{ event.link }}">
            </div>

            <div class="field">
                <label>Texte</label>
                <textarea class="ckeditor" placeholder="Texte" id="content" name="content">{{ event.content }}</textarea>
            </div>

            <div class="field">
                <button type="submit" name="editEventBt" class="ui positive submit button">Modifier</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block title %}
    Planning {{ parent() }}
{% endblock %}