{% extends 'admin/layout.html.twig' %}

{% block content %}
    <h2 class="ui header">Menu planning</h2>

    <h3 class="ui header">Ajouter un évènement</h3>
    <div class="ui segment">
        <form method="post" action="index.php?page=admin_planning" class="ui form">
            <div class="two fields">
                <div class="field">
                    <label>Date de début</label>
                    <div class="ui calendar" id="startDatepicker">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input name="startDate" type="text" placeholder="Date de début">
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Date de fin</label>
                    <div class="ui calendar" id="endDatepicker">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input name="endDate" type="text" placeholder="Date de fin">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Lien</label>
                <input name="link" placeholder="Lien" type="text">
            </div>

            <div class="field">
                <label>Texte</label>
                <textarea class="ckeditor" placeholder="Texte" id="content" name="content"></textarea>
            </div>

            <div class="field">
                <button type="submit" name="addEventBt" class="ui positive submit button">Ajouter</button>
            </div>
        </form>
    </div>

    <h3 class="ui header">Liste des évènements</h3>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Identifiant</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Lien</th>
            <th>Contenu</th>
            <th colspan="2"></th>
        </tr>
        </thead>
        <tbody>
        {% for event in planning %}
            <tr>
                <td>{{ event.pDateId }}</td>
                <td>{{ event.startDate|date("d-m-Y") }}</td>
                <td>{{ event.endDate|date("d-m-Y") }}</td>
                <td>{{ event.link }}</td>
                <td>{{ event.content }}</td>
                <td class="selectable">
                    <a href="index.php?page=admin_planning_edit&eventId={{ event.pDateId }}">Modifier</a>
                </td>
                <td class="selectable">
                    <a href="index.php?page=admin_planning&deleteEvent={{ event.pDateId }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block title %}
    Planning {{ parent() }}
{% endblock %}