{% extends 'admin/layout.html.twig' %}

{% block content %}
    {% if prospect is not empty %}
        <h3 class="ui center aligned header">Prospect identifiant {{ prospect.prospectId }}</h3>
        <table class="ui definition table">
            <thead>
            <tr>
                <th></th>
                <th>Donnée</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Date d'insertion</td>
                <td>{{ prospect.dateInsert|date("d/m/Y H:i:s") }}</td>
            </tr>
            <tr>
                <td>Nom</td>
                <td>{{ prospect.lastname }}</td>
            </tr>
            <tr>
                <td>Prénom</td>
                <td>{{ prospect.firstname }}</td>
            </tr>
            <tr>
                <td>Date de naissance</td>
                <td>{{ prospect.birthday|date("d/m/Y") }}</td>
            </tr>
            <tr>
                <td>Adresse</td>
                <td>{{ prospect.address }}</td>
            </tr>
            <tr>
                <td>Code postal</td>
                <td>{{ prospect.postalcode }}</td>
            </tr>
            <tr>
                <td>Ville</td>
                <td>{{ prospect.city }}</td>
            </tr>
            <tr>
                <td>Numéro de téléphone 1</td>
                <td>{{ prospect.phone1 }}</td>
            </tr>
            {% if prospect.phone2 is not empty %}
                <tr>
                    <td>Numéro de téléphone 2</td>
                    <td>
                        {{ prospect.phone2 }}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>Adresse E-Mail</td>
                <td>{{ prospect.email }}</td>
            </tr>
            {% if prospect.website is not empty %}
                <tr>
                    <td>Site web</td>
                    <td>
                        {{ prospect.website }}
                    </td>
                </tr>
            {% endif %}
            {% if prospect.dancer == 1 %}
                <tr>
                    <td>Danseur·se</td>
                    <td>
                        Oui
                    </td>
                </tr>
                <tr>
                    <td>Danses en tant que danseur·se</td>
                    <td>
                        {% for dance in prospectDances %}
                            {% if dance.danceAs == "dancer" %}
                                {{ dances[dance.danceType].danceName }}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if prospect.teacher == 1 %}
                <tr>
                    <td>Enseignant·e</td>
                    <td>
                        Oui
                    </td>
                </tr>
                <tr>
                    <td>Danses en tant qu'enseignant·e</td>
                    <td>
                        {% for dance in prospectDances %}
                            {% if dance.danceAs == "teacher" %}
                                {{ dances[dance.danceType].danceName }}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if prospect.competitor == 1 %}
                <tr>
                    <td>Compétit·eur·rice</td>
                    <td>
                        Oui
                    </td>
                </tr>
                <tr>
                    <td>Danses en tant que compétit·eur·rice</td>
                    <td>
                        {% for dance in prospectDances %}
                            {% if dance.danceAs == "competitor" %}
                                {{ dances[dance.danceType].danceName }}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>Financement</td>
                <td>
                    {% if prospect.funding == 'myself' %}
                        Par moi-même
                    {% elseif prospect.funding == 'association' %}
                        Par une association
                    {% elseif prospect.funding == 'financer' %}
                        Par un financeur (Fongécif, Dif, Pôle emploi etc.)
                    {% elseif prospect.funding == 'dontknow' %}
                        Je ne sais pas encore
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Envoyer devis</td>
                <td>
                    {% if prospect.sendquotation == 1 %}
                        Oui
                    {% elseif prospect.sendquotation == 0 %}
                        Non
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Envoyer dossier de financement</td>
                <td>
                    {% if prospect.sendfinancingfile == 1 %}
                        Oui
                    {% elseif prospect.sendfinancingfile == 0 %}
                        Non
                    {% endif %}
                </td>
            </tr>
            {% if prospect.callme == 1 %}
                <tr>
                    <td>M'appeler au</td>
                    <td>{{ prospect.callme_number }}</td>
                </tr>
                <tr>
                    <td>A</td>
                    <td>{{ prospect.callme_datetime|date("d/m/Y H:i:s") }}</td>
                </tr>
            {% endif %}
            {% if prospect.message is not empty %}
                <tr>
                    <td>Message</td>
                    <td>
                        {{ prospect.message|nl2br }}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>VCard</td>
                <td>
                    <a href="{{ url }}userdata/vcard/{{ prospect.prospectId }}-{{ prospect.firstname|lower }}-{{ prospect.lastname|lower }}.vcf">
                        Télécharger la vCard
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    {% else %}
        <p>Erreur : aucun identifiant prospect entré</p>
    {% endif %}
{% endblock %}

{% block title %}
    Info sur le prospect d'identifiant {{ prospect.prospectId }} {{ parent() }}
{% endblock %}