{% extends 'admin/layout.html.twig' %}

{% block content %}
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Identifiant</th>
            <th>Date d'insertion</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Numéro de téléphone</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for prospect in prospects %}
            <tr>
                <td>{{ prospect.prospectId }}</td>
                <td>{{ prospect.dateInsert }}</td>
                <td>{{ prospect.lastname }}</td>
                <td>{{ prospect.firstname }}</td>
                <td>{{ prospect.email }}</td>
                <td>{{ prospect.phone1 }}</td>
                <td class="selectable">
                    <a href="index.php?page=admin_prospect_info&prospect={{ prospect.prospectId }}">Détails</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block title %}
    Liste des prospects {{ parent() }}
{% endblock %}