{% extends 'admin/layout.html.twig' %}

{% block content %}
    <h3 class="ui header">Paramètres du site</h3>
    <form method="post" action="index.php?page=admin_settings" class="ui form">
        <div class="field">
            <label>Page d'accueil</label>
            <select name="homePage" class="ui dropdown">
                {% for page in pagesList %}
                    <option {% if page.pageLinkName == settings.homePage %}selected{% endif %}
                            value="{{ page.pageLinkName }}">{{ page.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="field">
            <label>Nom de l'envoyeur du mail</label>
            <input name="mailSender" placeholder="Nom de l'envoyeur du mail" type="text"
                   value="{{ settings.mailSender }}">
        </div>

        <div class="field">
            <label>Adresse E-Mail de l'envoyeur du mail</label>
            <input name="mailSenderAddress" placeholder="Adresse E-Mail de l'envoyeur du mail" type="text"
                   value="{{ settings.mailSenderAddress }}">
        </div>

        <div class="field">
            <label>Nom du destinataire du mail</label>
            <input name="mailRecipient" placeholder="Nom du destinataire du mail" type="text"
                   value="{{ settings.mailRecipient }}">
        </div>

        <div class="field">
            <label>Adresse E-Mail du destinataire du mail</label>
            <input name="mailRecipientAddress" placeholder="Adresse E-Mail du destinataire du mail" type="text"
                   value="{{ settings.mailRecipientAddress }}">
        </div>

        <div class="field">
            <button type="submit" name="settingsBt" class="ui positive submit button">Modifier</button>
        </div>
    </form>
{% endblock %}

{% block title %}
    Paramètres {{ parent() }}
{% endblock %}