{% extends 'admin/layout.html.twig' %}

{% block content %}
    {% if type is defined %}
        {% if type == 'section' %}
            <h3>Structure</h3>
            <form method="post"
                  action="index.php?type=section&page=admin_structure_edit&sectionId={{ section.sectionId }}"
                  class="ui form">

                <div class="field">
                    <label>Position</label>
                    <select name="position" class="ui dropdown">
                        {% for i in 1..pageCount.pageCount %}
                            <option
                                    {% if i == section.pageOrder %}selected{% endif %} value="{{ i }}">{{ i }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="field">
                    <label>Contenu de l'en-tête</label>
                    <textarea class="ckeditor" placeholder="Contenu" id="content"
                              name="headerContent">{{ section.headerContent }}</textarea>
                </div>
                <div class="field">
                    <a class="ui button"
                       href="index.php?page=admin_pages_info&pagelink={{ sourcePage.pageLinkName }}">Retour</a>
                    <button type="submit" name="editStructureBt" class="ui positive submit button">Modifier</button>
                </div>
            </form>
        {% endif %}
        {% if type == 'column' %}
            <h3>Structure</h3>
            <form method="post" action="index.php?type=column&page=admin_structure_edit&columnId={{ column.columnId }}"
                  class="ui form">
                <div class="field">
                    <label>Largeur</label>
                    <input name="width" placeholder="Largeur" type="text" value="{{ column.columnWidth }}">
                </div>
                <div class="field">
                    <label>Position</label>
                    <select name="position" class="ui dropdown">
                        {% for i in 1..sectionCount.sectionCount %}
                            <option
                                    {% if i == column.sectionOrder %}selected{% endif %} value="{{ i }}">{{ i }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <a class="ui button"
                       href="index.php?page=admin_pages_info&pagelink={{ sourcePage.pageLinkName }}">Retour</a>
                    <button type="submit" name="editStructureBt" class="ui positive submit button">Modifier</button>
                </div>
            </form>
        {% endif %}
        {% if type == 'block' %}
            <div class="ui fluid styled accordion">
                <div class="title">
                    <i class="dropdown icon"></i>
                    Debug info
                </div>
                <div class="content">
                    <div>{{ dump(block) }}</div>
                </div>
            </div>
            <h3>Structure</h3>
            <form method="post" action="index.php?type=block&page=admin_structure_edit&blockId={{ block.blockId }}"
                  class="ui form">
                <div class="field">
                    <label>Position</label>
                    <input name="position" placeholder="Position" type="text" value="{{ block.columnOrder }}">
                </div>
                <div class="field">
                    <button type="submit" name="editStructureBt" class="ui submit button">Modifier</button>
                </div>
            </form>
            <h3>Contenu</h3>
            {# Image block editing #}
            {% if block.contentType == 2 %}
                <form method="post" action="index.php?type=block&page=admin_structure_edit&blockId={{ block.blockId }}"
                      class="ui form">
                    <div class="field">
                        <label>Titre</label>
                        <input name="title" placeholder="Titre" type="text" value="{{ block.imageTitle }}">
                    </div>
                    <div class="field">
                        <label>Source</label>
                        <input name="source" placeholder="Source" type="text" value="{{ block.imageSource }}">
                    </div>
                    <div class="field">
                        <label>Ajuster à la taille du bloc</label>
                        <select name="paramFill" class="ui dropdown">
                            <option value="0" {% if block.paramFill == 0 %}selected{% endif %}>Non</option>
                            <option value="1" {% if block.paramFill == 1 %}selected{% endif %}>Oui</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Taille de l'image</label>
                        <select name="imgSize" class="ui dropdown">
                            <option value="">Taille de l'image</option>
                            {% for size in imgSizes %}
                                <option value="{{ size.sizeId }}"
                                        {% if block.ImageSize == size.sizeId %}selected{% endif %}>{{ size.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="field">
                        <a class="ui button"
                           href="index.php?page=admin_pages_info&pagelink={{ sourcePage.pageLinkName }}">Retour</a>
                        <button type="submit" name="editImageBlockBt" class="ui positive submit button">Modifier
                        </button>
                    </div>
                </form>
            {% endif %}
            {# Textimage block editing #}
            {% if block.contentType == 3 %}
                <form method="post" action="index.php?type=block&page=admin_structure_edit&blockId={{ block.blockId }}"
                      class="ui form">
                    <div class="field">
                        <label>Titre</label>
                        <input name="title" placeholder="Titre" type="text" value="{{ block.textimageTitle }}">
                    </div>
                    <div class="field">
                        <label>Texte</label>
                        <textarea class="ckeditor" placeholder="Texte" id="textContent"
                                  name="textContent">{{ block.textimageTextContent }}</textarea>
                    </div>
                    <div class="field">
                        <label>Source de l'image</label>
                        <div class="ui action input">
                            <input name="source" id="imgSource" placeholder="Source" type="text"
                                   value="{{ block.textimageImgSource }}">
                            <button href="filemanager/dialog.php?type=1&field_id=imgSource&lang=FR_fr&relative_url=1"
                                    class="ui button iframe-button">Parcourir les images
                            </button>
                        </div>
                    </div>
                    <div class="field">
                        <label>Position de l'image</label>
                        <select name="pos" class="ui dropdown">
                            <option value="">Taille de l'image</option>
                            {% for position in imgPos %}
                                <option value="{{ position.posId }}"
                                        {% if block.textimageImgPos == position.posId %}selected{% endif %}>{{ position.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="field">
                        <label>Taille de l'image</label>
                        <select name="imgSize" class="ui dropdown">
                            <option value="">Taille de l'image</option>
                            {% for size in imgSizes %}
                                <option value="{{ size.sizeId }}"
                                        {% if block.tiImageSize == size.sizeId %}selected{% endif %}>{{ size.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="field">
                        <a class="ui button"
                           href="index.php?page=admin_pages_info&pagelink={{ sourcePage.pageLinkName }}">Retour</a>
                        <button type="submit" name="editTextimageBlockBt" class="ui positive submit button">Modifier
                        </button>
                    </div>
                </form>
            {% endif %}
            {# HTML block editing #}
            {% if block.contentType == 4 %}
                <form method="post" action="index.php?type=block&page=admin_structure_edit&blockId={{ block.blockId }}"
                      class="ui form">
                    <div class="field">
                        <label>Titre</label>
                        <input name="title" placeholder="Titre" type="text" value="{{ block.htmlTitle }}">
                    </div>
                    <div class="field">
                        <label>Contenu</label>
                        <textarea class="ckeditor" placeholder="Contenu" id="content"
                                  name="content">{{ block.htmlContent }}</textarea>
                    </div>
                    <div class="field">
                        <a class="ui button"
                           href="index.php?page=admin_pages_info&pagelink={{ sourcePage.pageLinkName }}">Retour</a>
                        <button type="submit" name="editHtmlBlockBt" class="ui positive submit button">Modifier</button>
                    </div>
                </form>
            {% endif %}
            {# Quotation block #}
            {% if block.contentType == 5 %}
                <p class="ui title">Formulaire de demande de devis (intégré)</p>
                <a class="ui button"
                   href="index.php?page=admin_pages_info&pagelink={{ sourcePage.pageLinkName }}">Retour</a>
            {% endif %}
            {# Planning block #}
            {% if block.contentType == 6 %}
                <p class="ui title">Planning (intégré)</p>
                <a class="ui button"
                   href="index.php?page=admin_pages_info&pagelink={{ sourcePage.pageLinkName }}">Retour</a>
            {% endif %}
            {% if block.contentType is empty %}
                <h4>Insérer du contenu</h4>
                <form method="post" action="index.php?type=block&page=admin_structure_edit&blockId={{ block.blockId }}"
                      class="ui form">
                    <div class="ui form">
                        <div class="field">
                            <label>Type de contenu</label>
                            <select name="contentType" class="ui dropdown">
                                <option value="">Type de contenu</option>
                                {% for type in contentTypes %}
                                    <option value="{{ type.typeId }}">{{ type.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <a class="ui button"
                           href="index.php?page=admin_pages_info&pagelink={{ sourcePage.pageLinkName }}">Retour</a>
                        <button type="submit" name="addContentBlockBt" class="ui positive submit button">Modifier
                        </button>
                    </div>
                </form>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block title %}
    Edition de l'élément {{ column.columnId }} {{ parent() }}
{% endblock %}