<form method="post" action="index.php?page={{ page.pageLinkName }}" class="ui form">
    <h4 class="ui dividing header">Vous</h4>

    <div class="required field">
        <label>Nom</label>
        <div class="two fields">
            <div class="field">
                <input name="lastname" placeholder="Nom" type="text">
            </div>
            <div class="field">
                <input name="firstname" placeholder="Prénom" type="text">
            </div>
        </div>
    </div>

    <div class="required field">
        <label>Date de naissance (pas d'âge limite)</label>
        <div class="ui calendar" id="bdayDatepicker">
            <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" name="birthday" placeholder="Date de naissance">
            </div>
        </div>
    </div>

    <h4 class="ui dividing header">Adresse</h4>

    <div class="required field">
        <label>Adresse postale</label>
        <input name="address" placeholder="Adresse postale" type="text">
    </div>


    <div class="field">
        <div class="fields">
            <div class="four wide required field">
                <label>Code postal</label>
                <input name="postalcode" placeholder="Code postal" type="text">
            </div>
            <div class="twelve wide required field">
                <label>Commune</label>
                <input name="city" placeholder="Commune" type="text">
            </div>
        </div>
    </div>

    <h4 class="ui dividing header">Informations de contact</h4>

    <div class="field">
        <label>Numéro(s) de téléphone</label>
        <div class="two fields">
            <div class="required field">
                <label>Téléphone 1</label>
                <div class="ui input left icon">
                    <i class="text telephone icon"></i>
                    <input name="phone1" placeholder="Téléphone 1" type="text">
                </div>
            </div>
            <div class="field">
                <label>Téléphone 2</label>
                <div class="ui input left icon">
                    <i class="text telephone icon"></i>
                    <input name="phone2" placeholder="Téléphone 2" type="text">
                </div>
            </div>
        </div>
    </div>

    <div class="required field">
        <label>Adresse e-mail</label>
        <div class="ui input left icon">
            <i class="at icon"></i>
            <input name="email" placeholder="Adresse e-mail" type="text">
        </div>
    </div>

    <div class="field">
        <label>Site internet</label>
        <div class="ui input left icon">
            <i class="external icon"></i>
            <input name="website" placeholder="Site internet" type="text">
        </div>
    </div>

    <h4 class="ui dividing header">Demande</h4>

    <div class="required grouped fields">
        <label>Je suis :</label>
        <div class="field">
            <div class="ui checkbox dancerCb">
                <input name="dancer" tabindex="0" class="hidden" type="checkbox">
                <label>Danseu·r·se</label>
            </div>
        </div>

        <div id="dancesDancerDd" class="field dancesField">
            <select multiple="" name="dancesDancer[]" class="ui dropdown">
                <option value="">Sélectionnez la ou les danse·s</option>
                {% for dance in dances %}
                    <option value="{{ dance.danceId }}">{{ dance.danceName }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="field">
            <div class="ui checkbox teacherCb">
                <input name="teacher" tabindex="0" class="hidden" type="checkbox">
                <label>Enseignant·e</label>
            </div>
        </div>

        <div id="dancesTeacherDd" class="field dancesField">
            <select multiple="" name="dancesTeacher[]" class="ui dropdown">
                <option value="">Sélectionnez la ou les danse·s</option>
                {% for dance in dances %}
                    <option value="{{ dance.danceId }}">{{ dance.danceName }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="field">
            <div class="ui checkbox competitorCb">
                <input name="competitor" tabindex="0" class="hidden" type="checkbox">
                <label>Compétit·eur·rice</label>
            </div>
        </div>

        <div id="dancesCompetitorDd" class="field dancesField">
            <select multiple="" name="dancesCompetitor[]" class="ui dropdown">
                <option value="">Sélectionnez la ou les danse·s</option>
                {% for dance in dances %}
                    <option value="{{ dance.danceId }}">{{ dance.danceName }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="required grouped fields">
        <label for="funding">Financement du projet :</label>
        <div class="field">
            <div class="ui radio checkbox">
                <input value="myself" name="funding" checked="" tabindex="0" class="hidden" type="radio">
                <label>Par moi-même</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input value="association" name="funding" tabindex="0" class="hidden" type="radio">
                <label>Par une association</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input value="financer" name="funding" tabindex="0" class="hidden" type="radio">
                <label>Par un financeur (Fongécif, Dif, Pôle emploi etc.)</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input value="dontknow" name="funding" tabindex="0" class="hidden" type="radio">
                <label>Je ne sais pas encore</label>
            </div>
        </div>
    </div>

    <div class="required grouped fields">
        <label>Envoyez-moi :</label>
        <div class="field">
            <div class="ui checkbox">
                <input name="sendquotation" tabindex="0" class="hidden" type="checkbox">
                <label>Un devis gratuit et sans engagement</label>
            </div>
        </div>
        <div class="field">
            <div class="ui checkbox">
                <input name="sendfinancingfile" tabindex="0" class="hidden" type="checkbox">
                <label>Un dossier de financement</label>
            </div>
        </div>
        <div class="field">
            <div class="ui checkbox callmeatCb">
                <input name="callme" tabindex="0" class="hidden" type="checkbox">
                <label>Appelez-moi au :</label>
            </div>
        </div>
    </div>

    <div id="calldatetimeFields" class="two fields">
        <div class="field">
            <div class="ui input left icon">
                <i class="text telephone icon"></i>
                <input name="callmeNumber" placeholder="Numéro de téléphone" type="text">
            </div>
        </div>
        <div class="field">
            <div class="ui calendar" id="callDatepicker">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input name="callmeDate" placeholder="Date et heure" type="text">
                </div>
            </div>
        </div>
    </div>

    <h4 class="ui dividing header">Texte libre</h4>

    <div class="field">
        <textarea placeholder="Message" name="message"></textarea>
    </div>

    {#<div class="field">
        <label>Recaptcha</label>
    </div>#}

    <p style="text-align: right; color:gray">* : champs obligatoires</p>
    <button class="ui right floated positive button" name="quotationFormBt" type="submit">Envoyer</button>
    <br><br>
    <p style="color:gray; font-size: x-small">« Les informations recueillies font l'objet d'un traitement
        informatique destiné au traitement de votre demande. Le destinataire des données est [Nom de la société].
        Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d'un
        droit d'accès et de rectification aux informations qui vous concernent, que vous pouvez exercer en vous
        adressant à [Nom de la société] [Adresse de la société]. Vous pouvez également, pour des motifs légitimes,
        vous opposer au traitement des données vous concernant. Vous avez également le droit de vous inscrire sur la
        liste d’opposition au démarchage téléphonique. » </p>
</form>