{% if block.imageTitle is not empty %}
    <h3 class="ui header">{{ block.imageTitle }}</h3>
{% endif %}
<img class="ui
        {% if block.ImageSize == 2 %}
            mini
        {% elseif block.ImageSize == 3 %}
            tiny
        {% elseif block.ImageSize == 4 %}
            small
        {% elseif block.ImageSize == 5 %}
            medium
        {% elseif block.ImageSize == 6 %}
            large
        {% elseif block.ImageSize == 7 %}
            big
        {% elseif block.ImageSize == 8 %}
            huge
        {% elseif block.ImageSize == 9 %}
            massive
        {% endif %}
{% if block.paramFill == 1 %}fluid {% endif %}
image" src="{{ block.imageSource }}">