{% set numberDays = {
    1: 31,
    2: 28,
    3: 31,
    4: 30,
    5: 31,
    6: 30,
    7: 31,
    8: 31,
    9: 30,
    10: 31,
    11: 30,
    12: 31
} %}

{% set monthNames = {
    1: 'Janvier',
    2: 'Février',
    3: 'Mars',
    4: 'Avril',
    5: 'Mai',
    6: 'Juin',
    7: 'Juillet',
    8: 'Août',
    9: 'Septembre',
    10: 'Octobre',
    11: 'Novembre',
    12: 'Décembre'
} %}

{% set current = 0 %}
<div style="">
    <table class="ui celled striped compact table"
           style="margin-left: 50%;
transform: translateX(-50%);">
        <thead>
        <tr>
            <th></th>
            {% for i in 1..31 %}
                <th>{{ i }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>

        {% for year in 2018..2021 %}
            {% if (((year % 4) == 0) and (((year % 100) != 0) or ((year % 400) == 0))) %}
                {% set numberDays = {
                    1: 31,
                    2: 29,
                    3: 31,
                    4: 30,
                    5: 31,
                    6: 30,
                    7: 31,
                    8: 31,
                    9: 30,
                    10: 31,
                    11: 30,
                    12: 31
                } %}
            {% else %}
                {% set numberDays = {
                    1: 31,
                    2: 28,
                    3: 31,
                    4: 30,
                    5: 31,
                    6: 30,
                    7: 31,
                    8: 31,
                    9: 30,
                    10: 31,
                    11: 30,
                    12: 31
                } %}
            {% endif %}

            {% for month in 1..12 %}
                <tr>
                    <td>{{ monthNames[month] }} {{ year }}</td>
                    {% for day in 1..31 %}
                        {% set thisDay = (year ~ "/" ~ month ~ "/" ~ day) %}
                        {# Si le curseur est sur un jour du mois  #}
                        {% if day <= numberDays[month] %}
                            {# Si le curseur est avant le prochain évènement #}
                            {% if planning[current].startDate|date('Y-m-d') > thisDay|date('Y-m-d') %}
                                <td></td>

                                {# Si le curseur est entre le début et la fin du prochain évènement #}
                            {% elseif planning[current].startDate|date('Y-m-d') <= thisDay|date('Y-m-d') and planning[current].endDate|date('Y-m-d') >= thisDay|date('Y-m-d') %}
                                {# Si le curseur est au début de l'évènement #}
                                {% if planning[current].startDate|date('Y-m-d') == thisDay|date('Y-m-d') %}

                                    {% if thisDay|date('d') + planning[current].dateDiff > numberDays[month] %}
                                        {% set correctedDateDiff = thisDay|date('d') + planning[current].dateDiff - numberDays[month] %}

                                    <td colspan="{{ planning[current].dateDiff+1 - correctedDateDiff }}"
                                        class="selectable positive">
                                        <a href="{{ planning[current].link }}">
                                        {{ planning[current].content|raw }}
                                    {% else %}
                                        <td colspan="{{ planning[current].dateDiff+1 }}" class="selectable positive">
                                        <a href="{{ planning[current].link }}">
                                        {{ planning[current].content|raw }}
                                    {% endif %}

                                {% endif %}

                                {# Si le curseur est sur le premier jour du mois #}
                                {% if thisDay|date('d') == 1 %}
                                    {% set customDateDiff = planning[current].endDate|date('d') %}
                                    <td colspan="{{ customDateDiff }}" class="selectable positive">
                                    <a href="{{ planning[current].link }}">
                                {% endif %}

                                {# Si le curseur est sur le dernier jour du mois #}
                                {% if numberDays[month] == thisDay|date('d') %}
                                    </td>
                                {% endif %}

                                {# Si le curseur est sur le dernier jour de l'évènement#}
                                {% if planning[current].endDate|date('Y-m-d') == thisDay|date('Y-m-d') %}
                                    </td>
                                    {% set current = current+1 %}
                                {% endif %}

                                {# Si le curseur a vu tous les évènements #}
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% else %}
                            {% if thisDay|date('d') == 1 %}
                                {% set diffEndMonth = 31 - thisDay|date('d') %}
                                <td bgcolor="#d3d3d3" colspan="{{ diffEndMonth }}"></td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>