{% if block.textimageTitle is not empty %}
    <h3 class="ui header">{{ block.textimageTitle }}</h3>
{% endif %}
    {% if block.textimageImgPos == 3 or block.textimageImgPos == 4 or block.textimageImgPos == 6 or block.textimageImgPos == 8 %}
        {% if block.textimageTextContent is not empty %}
            <p>{{ block.textimageTextContent|raw }}</p>
        {% endif %}
    {% endif %}
    {% if block.textimageImgSource is not empty %}
        <img class="ui
        {% if block.tiImageSize == 2 %}
            mini
        {% elseif block.tiImageSize == 3 %}
            tiny
        {% elseif block.tiImageSize == 4 %}
            small
        {% elseif block.tiImageSize == 5 %}
            medium
        {% elseif block.tiImageSize == 6 %}
            large
        {% elseif block.tiImageSize == 7 %}
            big
        {% elseif block.tiImageSize == 8 %}
            huge
        {% elseif block.tiImageSize == 9 %}
            massive
        {% endif %}
            {% if block.textimageImgPos == 1 or block.textimageImgPos == 3 %}
            left floated
            {% endif %}
            {% if block.textimageImgPos == 2 or block.textimageImgPos == 4 %}
            right floated
            {% endif %}
            {% if block.textimageImgPos == 5 or block.textimageImgPos == 6 %}
            centered
            {% endif %}
            {% if block.textimageImgPos == 7 or block.textimageImgPos == 8 %}
            fluid
            {% endif %}
            image" src="{{ block.textimageImgSource }}">
    {% endif %}
    {% if block.textimageImgPos == 1 or block.textimageImgPos == 2 or block.textimageImgPos == 5 or block.textimageImgPos == 7 %}
        <p>{{ block.textimageTextContent|raw }}</p>
    {% endif %}
