<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Login - I-F-D-S</title>

    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">

    <link rel="stylesheet" type="text/css" href="assets/style/style_login.css">
</head>

<body>
{% block body %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                <img src="assets/images/logo.png" class="image">
            </h2>
            <form method="post" action="index.php?page=login" class="ui large form">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="email" placeholder="E-mail address">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <button class="ui fluid large teal submit button" name="loginBt">Login</button>
                </div>
                {{ text }}
                <div class="ui error message"></div>
            </form>

            <div class="ui styled accordion" style="margin-top: 1em">
                <div class="title">
                    <i class="dropdown icon"></i>
                    Debug info
                </div>
                <div class="content">
                    <div>Session : {{ session }}</div>
                    <div>User : {{ user }}</div>
                    <div>Post : {{ post }}</div>
                </div>
            </div>

            {% if warnings is not empty %}
                <div class="ui warning message">
                    <i class="close icon"></i>
                    <div class="header">
                        Il y a une erreur dans les données entrées
                    </div>
                    <ul class="list">
                        {% for message in warnings %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>

                </div>
            {% endif %}
        </div>
    </div>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.js" defer></script>
    <script>
        var tform = $('.ui.large.form');
        $(document).ready(function () {
            tform.form({
                fields: {
                    email: {
                        identifier: 'email',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Veuillez entrer votre adresse e-mail'
                            },
                            {
                                type: 'email',
                                prompt: 'Veuillez entrer une adresse e-mail valide'
                            }
                        ]
                    },
                    password: {
                        identifier: 'password',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Veuillez entrer votre mot de passe'
                            },
                            {
                                type: 'length[6]',
                                prompt: 'Votre mot de passe doit faire au moins 6 caractères'
                            }
                        ]
                    }
                }
            });
        });
    </script>
    <script src="assets/script/script_login.js"></script>
{% endblock %}
</body>
</html>