{% block subject %}
    Demande de devis de {{ prospect.firstname }} {{ prospect.lastname }} identifiant {{ prospect.prospectId }}
{% endblock %}

{% block body_html %}
    <head>
        <style>
            table {
                border-collapse: collapse;
            }

            table, th, td {
                border: 1px solid black;
            }

            th, td {
                padding: 4px;
            }
        </style>
    </head>

    {{ prospect.lastname }} {{ prospect.firstname }}<br>
    {{ prospect.address }}<br>
    {{ prospect.postalcode }} {{ prospect.city }}<br><br>

    <table>
        <tbody>
        <tr>
            <td>Date d'insertion :</td>
            <td>{{ prospect.dateInsert|date("d/m/Y H:i:s") }}</td>
        </tr>
        <tr>
            <td>Date de naissance :</td>
            <td>{{ prospect.birthday|date("d/m/Y") }}</td>
        </tr>
        <tr>
            <td>Numéro de téléphone 1 :</td>
            <td>{{ prospect.phone1 }}</td>
        </tr>
        {% if prospect.phone2 is not empty %}
            <tr>
                <td>Numéro de téléphone 2 :</td>
                <td>
                    {{ prospect.phone2 }}
                </td>
            </tr>
        {% endif %}
        <tr>
            <td>Adresse E-Mail :</td>
            <td>{{ prospect.email }}</td>
        </tr>
        {% if prospect.website is not empty %}
            <tr>
                <td>Site web :</td>
                <td>
                    {{ prospect.website }}
                </td>
            </tr>
        {% endif %}
        {% if prospect.dancer == 1 %}
            <tr>
                <td>Danseur·se :</td>
                <td>
                    {% for dance in prospectDances %}
                        {% if dance.danceAs == "dancer" %}
                            {{ dances[dance.danceType].danceName }}{% if not loop.last %},{% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
        {% if prospect.teacher == 1 %}
            <tr>
                <td>Enseignant·e :</td>
                <td>
                    {% for dance in prospectDances %}
                        {% if dance.danceAs == "teacher" %}
                            {{ dances[dance.danceType].danceName }}{% if not loop.last %},{% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
        {% if prospect.competitor == 1 %}
            <tr>
                <td>Compétit·eur·rice :</td>
                <td>
                    {% for dance in prospectDances %}
                        {% if dance.danceAs == "competitor" %}
                            {{ dances[dance.danceType].danceName }}{% if not loop.last %},{% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
        <tr>
            <td>Financement :</td>
            <td>
                {% if prospect.funding == 'myself' %}
                    Par moi-même
                {% elseif prospect.funding == 'association' %}
                    Par une association
                {% elseif prospect.funding == 'financer' %}
                    Par un financeur (Fongécif, Dif, Pôle emploi etc.)
                {% elseif prospect.funding == 'dontknow' %}
                    Je ne sais pas encore
                {% endif %}
            </td>
        </tr>
        {% if prospect.sendquotation == 1 or prospect.sendfinancingfile == 1 %}
            <tr>
                <td>Envoyer :</td>
                <td>
                    {% if prospect.sendquotation == 1 %} devis{% endif %}
                    {% if prospect.sendquotation == 1 and prospect.sendfinancingfile == 1 %} et {% endif %}
                    {% if prospect.sendfinancingfile == 1 %} dossier de financement{% endif %}
                </td>
            </tr>
        {% endif %}
        {% if prospect.callme == 1 %}
            <tr>
                <td>M'appeler au :</td>
                <td>{{ prospect.callme_number }} a {{ prospect.callme_datetime|date("d/m/Y H:i:s") }}</td>
            </tr>
        {% endif %}
        {% if prospect.message is not empty %}
            <tr>
                <td>Message :</td>
                <td>
                    {{ prospect.message|nl2br }}
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}

{% block body_text %}
{{ prospect.lastname }} {{ prospect.firstname }}
{{ prospect.address }}
{{ prospect.postalcode }} {{ prospect.city }}

Date d'insertion : {{ prospect.dateInsert|date("d/m/Y H:i:s") }}
Date de naissance : {{ prospect.birthday|date("d/m/Y") }}
Numéro de téléphone 1 : {{ prospect.phone1 }}

{% if prospect.phone2 is not empty %}
Numéro de téléphone 2 : {{ prospect.phone2 }}
{% endif %}
Adresse E-Mail : {{ prospect.email }}
{% if prospect.website is not empty %}
Site web : {{ prospect.website }}
{% endif %}

{% if prospect.dancer == 1 %}
Danseur·se :
{% for dance in prospectDances %}{% if dance.danceAs == "dancer" %}{{ dances[dance.danceType].danceName }}
{% endif %}
{% endfor %}
{% endif %}
{% if prospect.teacher == 1 %}
Enseignant·e :
{% for dance in prospectDances %}{% if dance.danceAs == "teacher" %}{{ dances[dance.danceType].danceName }}
{% endif %}
{% endfor %}
{% endif %}
{% if prospect.competitor == 1 %}
Compétit·eur·rice :
{% for dance in prospectDances %}{% if dance.danceAs == "competitor" %}{{ dances[dance.danceType].danceName }}
{% endif %}
{% endfor %}
{% endif %}

Financement :
{% if prospect.funding == 'myself' %}
Par moi-même
{% elseif prospect.funding == 'association' %}
Par une association
{% elseif prospect.funding == 'financer' %}
Par un financeur (Fongécif, Dif, Pôle emploi etc.)
{% elseif prospect.funding == 'dontknow' %}
Je ne sais pas encore
{% endif %}

{% if prospect.sendquotation == 1 or prospect.sendfinancingfile == 1 %}
Envoyer :{% if prospect.sendquotation == 1 %} devis{% endif %}{% if prospect.sendquotation == 1 and prospect.sendfinancingfile == 1 %} et {% endif %}{% if prospect.sendfinancingfile == 1 %} dossier de financement{% endif %}
{% endif %}

{% if prospect.callme == 1 %}
M'appeler au : {{ prospect.callme_number }} a {{ prospect.callme_datetime|date("d/m/Y H:i:s") }}
{% endif %}

{% if prospect.message is not empty %}
Message : {{ prospect.message }}
{% endif %}
{% endblock %}